<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<global-property doc:name="Global Property" doc:id="7ce539be-9310-41c1-819d-169ed6e50110" name="env" value="dev" />
	<http:listener-config name="ea-api-music-festival-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="ea-api-music-festival-config" api="ea-api-music-festival.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
	
	    <http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="aed2897d-a6ef-4488-b277-457dec6a0ac8" >
		<http:request-connection protocol="HTTPS" host="${energyaustralia.host}" port="${energyaustralia.port}" >
			<tls:context >
				<tls:trust-store insecure="true" />
			</tls:context>
		</http:request-connection>
	</http:request-config>
	<configuration-properties doc:name="Configuration properties" doc:id="e6896c82-3c29-429d-97a2-6f07ac7f0e16" file="${env}-config.yaml" />
</mule>
